.inputCloth{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 300px;
    color:black;
    /* text-align: right; */
    height: 10em;
    padding: 10px;
}

.result{
    flex: 1;
    font-size: 20px;
    
}

.text{
    flex: 1;
    font-size: 16px;
    
}